<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.OnlineFoodShop"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.ForUser.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Notification.Admin_AddNotification_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Discount.Admin_AddDiscount_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForUser.Product_Details_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Category.Admin_CategoryDetails_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Category.Admin_EditCategory_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Category.Admin_AddCategory_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Category.Admin_CategoryList_Activity"
            android:exported="false" /> <!-- ADMIN - PRODUCT -->
        <activity
            android:name=".Activity.ForAdmin.Product.Admin_ProductList_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForUser.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Product.Admin_EditProduct_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Product.Admin_ProductDetails_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.Product.Admin_AddProduct_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.User.Admin_AddUser_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.User.Admin_EditUser_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.User.Admin_UserDetails_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForAdmin.User.Admin_UserList_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ForAdmin.Admin_HomePage_Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ForUser.MainPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.ForAdmin.Order.Admin_OrderManagement_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>